In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/Hackathon/Consumer Data/clean_complaints.csv')
df = pd.DataFrame(df)

# Lets see this data

In [3]:
df.head()

   Complaint ID Date received  ... Timely response? Consumer disputed?
0       3379500    2019-09-19  ...              Yes                NaN
1       3255455    2019-05-23  ...              Yes                NaN
2       4267123    2021-04-02  ...              Yes                NaN
3       3446074    2019-11-20  ...              Yes                NaN
4       4239229    2021-03-23  ...              Yes                NaN

[5 rows x 17 columns]

In [27]:
rating = 100

bool_series = pd.isnull(df["Company response to consumer"])
a = df["Consumer disputed?"] = 'Yes'

# displayed data only with team = NaN
len(df['Company'].unique())

4853

In [30]:
df1 = df[['Company response to consumer','Timely response?', 'Consumer disputed?', 'Company']]
df1

            Company response to consumer  ...                              Company
0        Closed with non-monetary relief  ...  Experian Information Solutions Inc.
1                Closed with explanation  ...                        MIDFIRST BANK
2                Closed with explanation  ...                        EQUIFAX, INC.
3                Closed with explanation  ...        PENTAGON FEDERAL CREDIT UNION
4                Closed with explanation  ...                          Square Inc.
...                                  ...  ...                                  ...
1057130          Closed with explanation  ...                  QUICKEN LOANS, INC.
1057131          Closed with explanation  ...              Navient Solutions, LLC.
1057132          Closed with explanation  ...                              Innovis
1057133          Closed with explanation  ...                TRUSTMARK CORPORATION
1057134          Closed with explanation  ...             AMERICAN EXPRESS COMPANY

[1057135 rows x 4 columns]

The Math:

# Define the rating model

In [33]:
def rateme(df):
  Ratings =300
  if df1['Consumer disputed?'] == 'Yes':
    if Rating>300:
      Ratings = Ratings - (0.2 * 300)
    else:
      Ratings = Ratings - (0.2 * Ratings)
  elif df1['Consumer disputed?'] == 'No':
    if Ratings>300:
      Ratings = Ratings + (0.15*Ratings)
    else:
      Ratings = Ratings + (0.15*300)
  else:
    Ratings = Ratings + (0.01*Ratings)


  if df1['Company response to consumer'] == 'Closed with non-monetary relief':
    if Rating>300:
      Ratings = Ratings - (0.01 * 300)
    else:
      Ratings = Ratings - (0.01 * Ratings)
  elif df1['Company response to consumer'] == 'Closed with explanation':
    if Rating>300:
      Ratings = Ratings - (0.01 * 300)
    else:
      Ratings = Ratings - (0.01 * Ratings)
  elif df1['Company response to consumer'] == 'Untimely response':
    if Rating>300:
      Ratings = Ratings - (0.03 * 300)
    else:
      Ratings = Ratings - (0.03 * Ratings)
  elif df1['Company response to consumer'] == 'In progress':
    if Rating>300:
      Ratings = Ratings - (0.01 * 300)
    else:
      Ratings = Ratings - (0.01 * Ratings)
  elif df1['Company response to consumer'] == 'Closed with monetary relief':
    if Ratings>300:
      Ratings = Ratings + (0.015*Ratings)
    else:
      Ratings = Ratings + (0.015*300)
  elif df1['Company response to consumer'] == 'Closed':
    if Rating>300:
      Ratings = Ratings - (0.01 * 300)
    else:
      Ratings = Ratings - (0.01 * Ratings)
  elif df1['Company response to consumer'] == 'Closed with relief':
    if Ratings>300:
      Ratings = Ratings + (0.015*Ratings)
    else:
      Ratings = Ratings + (0.015*300)
  elif df1['Company response to consumer'] == 'Closed without relief':
    if Rating>300:
      Ratings = Ratings - (0.01 * 300)
    else:
      Ratings = Ratings - (0.01 * Ratings)


  if df1['Timely Response'] == 'No':
    if Rating>300:
      Ratings = Ratings - (0.09 * 300)
    else:
      Ratings = Ratings - (0.09 * Ratings)
  elif df1['Timely Response'] == 'No':
    if Ratings>300:
      Ratings = Ratings + (0.065*Ratings)
    else:
      Ratings = Ratings + (0.065*300)
  return Ratings




# Implementation

In [35]:
ratings = {}
for company in df1:
  ratings [df1['Company']]= rateme(df1)

ValueError: ignored